:root {
    --max-width-size: 1440px;

    --color-red: #F52E2E;
    --color-green: #00C22B;
    --color-ligth-green: #3CCC87;
    --color-ligth-gray: #A8A8A8;

    --color-primario: #ffffff;
    --color-secundario: #000000;
}